<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> + PCF</h1>
    <p>Hello, this app demonstrate how to instrument a NodeJS application on PCF</p>
    <p>Get random user<a href="/users"> Click me!</a></p>
    <p>Get random user list<a href="/users/list"> Click me!</a></p>
    <p>Throw Error<a href="/users/throwError"> Click me!</a></p>
  </body>
</html>
